.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  margin-top: 150px;
  text-align: center;
  font-size: 100px;
}

.App__loading {
  position: absolute;
  top: 250px;
  left: 50%;
}
